
// sane styling for wiki pages
.wiki {
	img {
		max-width: 100%;
	}

	h2,h3,h4 {
		border-bottom: 1px solid $grid;
	}
}

.wikilinks {
	border-top: 1px solid $grid;
	padding: 10px;
	margin-top: 2em;
	clear: both;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.toc, .wikibox {
	border: 1px solid $grid;
	background-color: $bg_box;
}

.toc {
	min-width: 300px;
	padding: 10px;
	display: inline-block;

	.toc_title {
		text-align: center;
	}

	ul {
		margin: 0;
		padding-left: 20px;
	}
}

.wikibox {
	margin-top: 20px;
}

.infobox {
	background-color: $funbg1;
	border: 1px solid $grid;
	text-align: center;
	min-width: 300px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 25px;

	table {
		width: 100%;
		border-collapse: collapse;

		.heading {
			background-color: $funbg0;
			font-size: 12pt;
			font-weight: bold;

			&.beta:after {
				color: gold;
				content: " (BETA)";
				font-size: 12pt;
				vertical-align: super;
			}
			&.unused:after {
				color: #029fd3;
				content: "  Unused";
				font-size: 12pt;
				vertical-align: super;
			}
		}

		tr {
			border-bottom: 1px solid $grid;

			&:last-child {
				border-bottom: 0;
			}
		}

		td, th {
			padding: 10px;
		}
	}

	@media screen and (min-width: 700px) {
		margin-top: -65px;
		margin-left: 25px;
		margin-right: 0;
		float: right;
		clear: both;
	}
}

a.nonexistant {
	color: $text_red;
}
