
body {
	background-color: $bg;
	color: $text;
	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button, body {
	font-family: $fonts;
	font-size: 11.75pt;
}

a {
	color: $link;
	text-decoration: none;

	&:hover { text-decoration: underline; }
	&:active { color: $link_active; }
}

p, blockquote, ul li, ol li {
	line-height: 1.6;
}

code {
	display: inline-block;
}

ul li, ol li {
	margin-top: 0.6em;
}

hr {
	border-top: 1px solid $grid;
	border-bottom: 0;
}

h1 { font-size: 1.75em; }
h2 { font-size: 1.50em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.00em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

svg {
	fill: $text;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.banner {
	padding: 10px;
	font-weight: bold;

	&.b-red {
		background-color: #9c0d0d;
		color: #fff;
	}

	&.b-green {
		background-color: #0d9c0d;
		color: #fff;
	}
}

header, footer {
	background-color: $bg_box;
	margin-top: 0px;
	overflow: hidden;
}

header {
	border-bottom: 1px solid $grid;
}

.content {
	flex: 1;
}

.container {
	max-width: 1080px;
	margin: auto;
	padding: 0 7px;
}

footer {
	text-align: center;
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav {
	margin: auto;
	max-width: 1280px;
	padding: 10px 0;
}

footer, nav.nav-forum {
	border-top: 1px solid $grid;
}

div.menu {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px 5px;
	text-align: center;
	width: 100%;

	a, .nav-right a {
		color: $btn_text;
		font-size: 1.1em;
		font-weight: bold;
		text-decoration: none;
		padding: 10px 10px;
		border-radius: 5px;

		&:hover:not(.picon) {
			background-color: $bg_box2;
		}
	}

	.picon {
		padding-top: 0;
		padding-bottom: 0;

		img {
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
		}
	}

	.nav-right {
		margin-left: auto;
		display: flex;
	}

	.download, .notifs {
		color: #20aa20;
	}

	[href="/search"] svg {
		width: 18px;
		height: 18px;
	}
}

.header a {
	float: right;
}

.header_message, .skit, .welcome-back {
	border-bottom: 1px solid $grid;
}

.header_message {
	padding: 15px;
}

.level-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 15px 5px;

	@media screen and (max-width: 1000px) {
		&.scrollable {
			flex-flow: row nowrap;
			justify-content: unset;
			overflow-x: scroll;
			padding-bottom: 15px;
		}
	}
}

div.level {
	background-color: $bg_box2;
	display: inline-block;
	position: relative;
	width: 240px;
	height: 210px;

	border: 1px solid $btn_border;
	border-radius: 4px;

	.lvlbox_top {
		color: $text;
		font-size: 13pt;
		text-decoration: none;
		display: block;
		height: 100%;

		span.featured {
			position: absolute;
			top: 4px;
			right: 4px;
			color: #ffffee;
			background-color: rgba(1, 0, 1, 0.5);
		}

		img {
			width: 240px;
			height: 135px;
			border-radius: 3px 3px 0px 0px;
		}

		.lvltitle {
			margin: 0 4px;
			display: block;
		}
	}

	.user {
		position: absolute;
		top: 187px;
		padding: 0 4px;
		font-size: 11.2pt;
	}
	.likes {
		float: right;
		text-align: right;
	}

	&:hover {
		background-color: $btn_bg;
	}
}

.comment-box {
	margin: 20px 5px;

	.comment-input {
		width: 99%;
		padding: 5px;
		min-height: 70px;
	}

	.submit {
		padding-left: 5px;

		em {
			padding-left: 10px;
		}
	}
}

.comments .comment {
	padding: 7px 8px;
	border-bottom: 1px solid $grid;
	overflow-wrap: break-word;
	max-height: 130px;
	overflow: auto;
	line-height: 1.4;

	&:nth-child(odd)  { background-color: $funbg0; }
	&:nth-child(even) { background-color: $funbg2; }

	&.deleted {
		background-color: $bg_red;
	}

	p {
		margin: 0;
		margin-bottom: 0.1em;
	}
	span.date, span.delete {
		float: right;
		margin-left: 10px;
	}
	span.delete {
		margin-left: 5px;
	}
}



// Buttons for the Latest Levels page \\
.latest-buttons {
	margin-bottom: 15px;
}

// Common register and login form styles \\
.reglog {
	text-align: center;

	p {
		margin-bottom: 30px;
	}

	div {
		max-width: 500px;
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 10px auto;
		border-top: 1px solid #444;

		&:last-child {border-bottom:0}
	}

	span {
		width: 200px;
		display: inline-block;
	}
}

.user {
	font-weight: bold;

	&, &:hover, &:active {
		text-decoration: none;
	}

	.t_user {
		color: $t_user;
	}
}

.lvl-box {
	margin-top: 1em;
	min-height: 280px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;

	.img {
		position: relative;
		width: 48%;

		img {
			width: 100%;
		}

		.revision {
			background-color: rgba(200, 255, 200, 0.5);
			color: #000;
			font-size: 0.8em;
			font-weight: bold;
			padding: 4px;
			position: absolute;
			top: 0%;
			left: 0%;
		}
	}

	.info {
		width: 48%;
		padding: 1em;
		background-color: $bg_box2;

		.likemsg {
			display: inline-block;
			margin-right: 1em;
		}

		.protocol-issues {
			display: none;
			margin: 15px 0;
			padding: 15px;
			background-color: #6b4040;
			color: #fff;
		}
	}
}

// Play & Edit buttons \\
.play-btn {
	border: none;
	color: $btn_text;
	display: inline-block;
	font-weight: bold;
	margin-right: 0.5em;
	padding: 10px 20px;

	&:hover {
		text-decoration: none;
	}

	&:active {
		color: $btn_text;
	}

	&.green {
		background-color: $btn_play;

		&:hover {
			background-color: lighten($btn_play, 15%);
		}
	}

	&.blue {
		background-color: $btn_edit;

		&:hover {
			background-color: lighten($btn_edit, 15%);
		}
	}
}

@media screen and (max-width: 800px) {
	.lvl-box {
		flex-flow: row-reverse wrap;
		gap: 10px 0px;

		.img, .info {
			width: 100%;
		}
		.info {
			margin-bottom: 20px;
		}
	}
}

.lvl-data {
	background-color: $bg_box2;
	padding: 0.5em;

	p {
		margin: 0;
		padding: 0.5em 1em;
	}
}

.dl {
	border-collapse: collapse;

	td {
		border: 1px solid $grid;
		padding: 7px;

		&.plat {
			text-align: center;
			width: 64px;
			padding: 4px;
			font-size: 11pt;

			img { height: 32px }
			svg { width: 32px; height: 32px; padding-bottom: 3px }
		}
	}

	.generic {
		height: 32px;
		width: 32px;
		text-align: center;
		display: inline-block;
		margin-bottom: 5px;
		font-size: 18pt;
		font-weight: bold;
	}

	code {
		font-size: 11pt;
	}
}

// Pagination \\
.pagination {
	margin-top: 2em;
	text-align: center;

	div, a.btn {
		font-size: 14pt;
		width: 120px;
		padding: 10px;
		margin: 0 15px;
		display: inline-block;
	}
}

// Settings \\

.settings, .wikitable {
	border-collapse: collapse;

	.a {
		text-align: center;
		width: 200px;
		height: 35px;
	}

	td, th {
		border-bottom: 1px solid $grid;
		padding: 10px 5px;
	}

	tr th {
		background-color: $funhead;
		font-size: 12pt;
	}

	tr {
		&:nth-child(odd)  { background-color: $funbg0; }
		&:nth-child(even) { background-color: $funbg2; }
	}

	.fotnot {
		margin-top: 8px;
		font-size: 10.5pt;
	}
}

.settings {
	width: 100%;
	margin-bottom: 1em;
}

// Welcome Thing on Index \\

.skit {
	display: block;
	text-align: center;
	font-size: 1.25em;

	video {
		border-radius: 15px;
		max-width: 100%;
		width: 800px;
	}

	a {
		font-weight: bold;
	}
}

.buttonbar {
	margin-bottom: 30px;
	font-size: 1.25em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 30px 0;

	a {
		display: inline-block;
		color: $text;
		width: 150px;
		font-weight: bold;

		&:hover {
			filter: brightness(1.25);
			text-decoration: none;
		}

		&:active {
			filter: brightness(0.75);
		}
	}
	img {
		height: 90px;
		padding: 10px;
	}
	span {
		display: block;
	}
}


/// Generic classes \\\

.left	{ text-align: left; }
.center	{ text-align: center; }
.right	{ text-align: right; }

.clear_right { clear: right; }
.float-right { float: right; }

.noborder { border: 0; }

.text-for-ants { font-size: 8pt; }

.mono { font-family: monospace; }

.error {
	color: red;
	font-weight: bold;
}

$basic-colours: (
	"red": #9c0d0d,
	"green": #0d9c0d,
	"blue": #0d0d9c,
	"cyan": #0d9c9c,
	"magenta": #9c0d9c,
	"yellow": #9c9c0d,
);

@mixin map-colors-to-boxes($basic-colours: $basic-colours) {
	@each $name, $hex in $basic-colours {
		.bg-#{$name} {
			background-color: $hex;
			color: #fff;
		}
	}
}

@include map-colors-to-boxes;

/// User page \\\
.user_about {
	margin-bottom: 1.5em;
}

.user_pic {
	float: right;
	border: 1px solid $grid;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1px;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.user_stats {
	margin-left: 10px;
	border: 1px solid $grid;
	width: 300px;
	float: right;

	.topthing {
		background: #3367aa;
		padding: 7px;
	}

	.row {
		border-top: 1px solid $grid;
		padding: 10px;
		display: block;

		.pad {
			float: right;
		}
	}
}

// sensitive info (censor things like IPs unless hovered)
.sensitive {
	color: #636363;
	background-color: #636363;

	&:hover {
		color: unset;
		background-color: unset;
	}
}

.pronouns {
	font-weight: normal;
	font-size: 14pt;
	margin-left: 5px;
}


/// Two columns that collapse on mobile (for tables) \\\
.two-columns {
	display: block;

	table, .column {
		margin: 15px 0px;
	}

	@media only screen and (min-width: 1024px) {
		display: flex;
		align-items: flex-start;

		table, .column {
			margin: 0px 10px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.i2l-two-columns {
		display: flex;
		align-items: flex-start;
	}

	.i2l-two-columns div {
		flex: 1;
	}
}

textarea, input[type=text], input[type=password], input[type=email], input[type=color], input[type=file], .jscolor {
	border: 1px solid $grid;
	background-color: $input_bg;
	color: $text;
	font-size: 11pt;
	font-family: inherit;
	padding: 7px;
}

input[type=submit], button.btn, a.btn, select {
	font-size: 12pt;
	border: 1px solid $btn_border;
	background-color: $btn_bg;
	color: $text;
	padding: 5px 15px;

	&:hover {
		background-color: darken($btn_bg, 5%);
		text-decoration: none;
	}
	&:active {
		background-color: darken($btn_bg, 15%);
	}
}

input[type=submit], button.btn, a.btn {
	vertical-align: top;
}

textarea {
	line-height: 1.5;
	outline: none;
}

// For image to lua

textarea.code {
	width: 100%;
	height: 250px;
	box-sizing: border-box;
}

textarea.code.wide {
	width: 85%;
	height: 60px;
}

/// Styling used for printing \\\

@media print {
	body {
		font-family: serif;
	}

	a {
		color: #01004b !important;
		text-decoration: underline;
	}

	.banner, header, footer, .donate-nag, .wikilinks {
		display: none !important;
	}
}

/// Misc. \\\

.donate-nag {
	text-align: center;
	margin-top: 40px;

	img {
		max-width: 100%;
		aspect-ratio: 700/100;
	}
}

.intermission {
	text-align: center;
	margin: 2em 0;
	padding: 1.5em 0;
	border-top: 1px solid $grid;
	border-bottom: 1px solid $grid;

	img {
		max-width: 100%;
	}
}

.gallery {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr;

	img {
		width: 100%;
		height: auto;
		border-radius: 2px;
	}
}

@media (min-width: 600px) {
	.gallery {
		grid-template-columns: 1fr 1fr;
	}
}

figure {
	text-align: center;
	margin: 10px 0;

	figcaption {
		font-style: italic;
		margin-top: 3px;
	}
}

.news img {
	max-width: 100%;
}

.img-responsive {
	max-width: 100%;
}

.latestnews li b {
	display: inline-block;
	width: 105px;
}

.desc { font-weight: bold; }
