
$grid: #444;
$link: #62aafc;
$link_active: darken($link, 17%);
$text: #fff;
$bg: #0f0f0f;
$bg_box: #181818;
$bg_box2: #060606;
$btn_play: #608060;
$btn_edit: #636383;
$btn_text: #eee;
$fonts: "Roboto", "Arial", sans-serif;

$btn_border: #444;
$btn_bg: #111;
$input_bg: $btn_bg;
$t_user: #6da0fd;
$text_red: #e63333;
$bg_red: #861c1c;

$funhead: #080808;
$funbg0: #0c0c0c;
$funbg1: #141414;
$funbg2: #171717;
$funbg3: #2b2b2b;

/// Main style \\\
@import "_style";

/// Forums \\\
@import "_style_forums";

/// Wiki \\\
@import "_style_wiki";

/// Archive \\\
@import "_style_archive";

/// Prism.js styling \\\
@import "_prism";
