{% set pages = (levels / lpp)|round(0, 'ceil') %}

{% if pages > 1 %}
<div class="pagination-archive">
	{% if current != 1 %}
		<a href="{{ url | format(current-1) }}">&laquo; Previous</a>
	{% else %}
		<div></div>
	{% endif %}
	{% if current != pages %}
		<a href="{{ url | format(current+1) }}">Next &raquo;</a>
	{% else %}
		<div></div>
	{% endif %}
</div>
{% endif %}