ErrorDocument 404 /404.php

RewriteEngine On
## Internal pages (rewritten to give more descriptive filenames)
# Login
RewriteRule ^apZodIaL1/xx.php$ /internal/login.php
# Get level file
RewriteRule ^apZodIaL1/x.php$ /internal/get_level.php
# Edit level
RewriteRule ^apZodIaL1/xxx.php$ /internal/get_level.php
# Get package file
RewriteRule ^apZodIaL1/xxxx.php$ /internal/get_package.php
# Get package levels
RewriteRule ^apZodIaL1/xxxxx.php$ /internal/get_level.php
# Featured levels
RewriteRule ^apZodIaL1/get_feature.php$ /featured/fl.cache
# Upload
RewriteRule ^upload.php$ /internal/upload.php
# Principia Version Code
RewriteRule ^principia-version-code$ /internal/principia-version-code

RewriteRule ^user/([0-9]+)$ /user.php?id=$1 [L]
RewriteRule ^user/(.+)$ /user.php?name=$1 [L]

RewriteRule ^level/([0-9]+)$ /level.php?id=$1 [L]