ErrorDocument 404 /404.php

RewriteEngine On
## Internal pages (rewritten to give more descriptive filenames)
# Login
RewriteRule ^apZodIaL1/xx.php$ /internal_login.php
# Get level file
RewriteRule ^apZodIaL1/x.php$ /get_level.php
# Edit level
RewriteRule ^apZodIaL1/xxx.php$ /get_level.php
# Get package file
RewriteRule ^apZodIaL1/xxxx.php$ /get_package.php
# Get package levels
RewriteRule ^apZodIaL1/xxxxx.php$ /get_level.php

RewriteRule ^apZodIaL1/get_feature.php$ /featured/fl.cache

RewriteRule ^user/([0-9])$ /user.php?id=$1 [L]
RewriteRule ^user/(.+)$ /user.php?name=$1 [L]
