ErrorDocument 404 /404.php

RewriteEngine On
RewriteRule ^apZodIaL1/xx.php$ /internal_login.php

RewriteRule ^apZodIaL1/xxxxxx.php$ /get_level.php
RewriteRule ^apZodIaL1/xxxxx.php$ /get_level.php
RewriteRule ^apZodIaL1/x.php$ /get_level.php

RewriteRule ^apZodIaL1/get_feature.php$ /featured/fl.cache

RewriteRule ^user/([0-9])$ /user.php?id=$1 [L]
RewriteRule ^user/(.+)$ /user.php?name=$1 [L]
