<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>@font-face{font-family:"Roboto";font-style:normal;font-weight:400;font-display:swap;src:local("Roboto"),url("/assets/fonts/roboto-v29-latin-ext_latin-regular.woff2") format("woff2"),url("/assets/fonts/roboto-v29-latin-ext_latin-regular.woff") format("woff")}@font-face{font-family:"Roboto";font-style:normal;font-weight:700;font-display:swap;src:local("Roboto Bold"),url("/assets/fonts/roboto-v29-latin-ext_latin-700.woff2") format("woff2"),url("/assets/fonts/roboto-v29-latin-ext_latin-700.woff") format("woff")}</style>
		<link rel="stylesheet" href="/assets/css/darkmode.css?v=25" type="text/css">
		<script defer src="/assets/base.js"></script>
		<script defer src="/assets/prism.js"></script>
	</head>
	<body>
		<div class="top"><div class="menucontainer">
			<div class="menu">
				<a href="Main_Page">Main page</a>
				<a href="Objects">Objects</a>
				<a href="Special_PageIndex">Page Index</a>
			</div>
		</div></div>
		<div class="content wiki"><div class="container">
			{% block content %}{% endblock %}
		</div></div>
		<div class="footer" style="clear:both">
			This content was exported from the <a href="https://principia-web.se/wiki/">Principia Wiki</a> on {{ "now" | date("Y-m-d H:i:s") }}
		</div>
	</body>
</html>
