{% extends "_layout.twig" %}
{% from 'components/macros.twig' import wikilinks %}

{% set title = pagetitle %}
{% set pagename = '/wiki/' ~ pagetitle_slugified %}

	{% block content %}
{% if pagetitle != 'Main Page' %}
	<h1>{{ pagetitle }}</h1>
{% endif %}

{% if pagecontent %}
	{{ pagecontent | markdown_wiki }}
{% else %}
	<p>A wiki page with this name does not exist.</p>
{% endif %}

{{ wikilinks(pagetitle_slugified) }}
	{% endblock %}
