{% extends "_layout.twig" %}
{% from 'components/macros.twig' import wikilinks %}

{% set title = pagetitle %}
{% set pagename = '/wiki/' ~ pagetitle_slugified %}

	{% block content %}
<h1>{{ pagetitle }}</h1>

{% if pagecontent %}
	{{ pagecontent | markdown_wiki }}
{% else %}
	<p>This page does not exist. Would you like to create it?</p>
{% endif %}

{{ wikilinks(pagetitle_slugified) }}
	{% endblock %}
