{% extends "_layout.twig" %}

{% set title = "Wiki Page Index" %}
{% set pagename = "/wiki/Special:PageIndex" %}

	{% block content %}
<h1>Wiki Page Index</h1>

<ul>
{% for page in pages %}
	<li>
		<a href="{{ page | replace({" ":"_"}) }}">{{ page }}</a>
	</li>
{% endfor %}
</ul>
	{% endblock %}
