{% macro wikilinks(page) %}
	<div class="wikilinks" style="clear:both">
		<div>
			<a href="/wiki/">Main Page</a>
			&ndash; <a href="/wiki/Special:PageIndex">Page Index</a>
		</div>

		{% if page %}
			<div class="right">
				<a href="https://github.com/principia-game/wiki/blob/master/pages/{{ page }}.md">View on GitHub</a>
			</div>
		{% endif %}
	</div>
{% endmacro %}
