<div class="infobox">
	<table>
		<tr>
			<td class="heading" colspan="2">{{ data.name }}</td>
		</tr>
		<tr>
			<th style="width:50%">ID</th>
			<td>{{ data.id }}</td>
		</tr><tr>
			<th>Type</th>
			<td>{{ data.type }}</td>
		</tr>
		{% if data.version %}
			<tr>
				<th>Added in</th>
				<td>{{ data.version }}</td>
			</tr>
		{% endif %}
	</table>
</div>