/// forum specific styling uwu \\\

table.c1 {
	border: $grid 1px solid;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;

	tr.h, tr.c {
		text-align: center;
		color: #ffffff;
	}

	tr.h { background: #235aa3; }

	tr.c { background: #208aa5; }

	tr.h td, tr.c td {
		border-left: 0;
		border-right: 0;
	}

	td {
		border: $grid 1px solid;
		padding: 5px;
	}

	td.nb {
		padding: 1px;
		border: 0px none;
	}

	tr.n1, td.n1 { background: #f5f5f5; }
	tr.n2, td.n2 { background: #ebebeb; }
	tr.n3, td.n3 { background: #d4d4d4; }

	.delete {
		font-weight: bold;
		display: inline-block;
		margin-left: 6px;
		margin-right: 6px;
		font-size: 18px;
		color: red;
	}
}

input[value=Preview], input[value=Submit] {
	margin: 5px 10px;
	width: 70px;
}

/* Mobile hacks haha :^) */
@media (min-width: 640px) {
	.nod { display: none; }
}

@media only screen and (max-width: 640px) {
	/* 'no mobile' */
	.nom { display: none; }

	/* 'no desktop' */
	.nod { display: unset; }

	.nod img { max-height: 64px; }

	/* display block on mobile */
	.blkm { display: block; }

	table.c1 .topbar_1 {
		width: unset;
		text-align: left;
	}
}

.pagelist {
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.breadcrumb {
	margin: 4px 15px;

	.actions {
		float: right;
	}
}

.posttoolbar button {
	height: 2em;
	width: 2em;
	padding: 0 1px 2px;
}

.threadpost {
	.topbar_1 {
		border-bottom: 0 !important;
		border-right: 0 !important;
		width: 180px;
		text-align: center;
	}
	.topbar_2 {
		border-left: 0 !important;
		padding: 7px !important;
	}

	.sidebar {
		border-top: 0 !important;
		text-align: center;
	}

	.mainbar {
		p {
			margin-top: 0;
		}
		table {
			border: #000000 1px solid;
			border-spacing: 0px;
			border-collapse: collapse;
		}
		th {
			background: #3367aa;
			font-size: 1em;
			color: #ffffff;
		}
		td, th {
			border: #000000 1px solid;
			padding: 5px;
		}
		.siggy {
			border-top: 1px solid black;
			font-size: 10pt;
			margin-top: 3em;
		}
		img {
			max-width: 100%;
		}
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.autowidth { width: auto !important; }
.wbreak { word-break: break-word; }
.fullwidth { width: 100% !important; }
