// Include normal styling, so only one stylesheet file needs to be loaded.
@import "style";

$grid: #444;
$link: #ff0;
$link_active: darken($link, 17%);
$bg: #0F0F0F;
$bg_box: #191919;
$bg_box2: #060606;
$btn_play: #608060;
$btn_edit: #636383;
$btn_text: #eee;

body {
	background-color: $bg;
	color: white;
}

a {
	color: $link;

	&:active { color: $link_active; }
}

.top, .footer {
	background-color: $bg_box;
	border-bottom: 1px solid $grid;
	border-top: 1px solid $grid;
}

div.menu {
	a {
		color: #ddd;

		&:hover {
			background-color: $bg_box2;
		}
	}
}

.header_message, .skit {
	border-bottom: 1px solid $grid;
}

div.level {
	background-color: $bg_box2;

	.lvlbox_top {
		color: white;
	}

	&:hover {
		background-color: #111;
	}
}

.comments .comment {
	border-bottom: 1px solid $grid;

	&:nth-child(odd)  { background-color: #0c0c0c; }
	&:nth-child(even) { background-color: #171717; }

	&.deleted {
		background-color: #861c1c;

		&:after {
			color: #eee;
		}
	}
}

.latest-buttons a {
	background-color: $btn_play;
	color: $btn_text;

	&:hover {
		background-color: darken($btn_play, 10%);
	}

	&.sel {
		background-color: $btn_edit;

		&:hover {
			background-color: darken($btn_edit, 10%);
		}
	}
}

.user {
	.t_user {
		color: #6da0fd;
	}
}

.lvl-box {
	.info {
		background-color: #050505;

		.play {
			background-color: #608060;
			color: #eee;

			&:hover {
				background-color: darken(#608060, 10%);
			}
		}

		.play-edit {
			background-color: #636383;

			&:hover {
				background-color: darken(#636383, 10%);
			}
		}
	}
}

.lvl-data {
	background-color: $bg_box2;
}

.dl {
	td {
		border: 1px solid white;
	}
}

.settings {
	td, th {
		border-bottom: 1px solid $grid;
	}

	tr th {
		background-color: #080808;
	}

	tr {
		&:nth-child(odd)  { background-color: #0c0c0c; }
		&:nth-child(even) { background-color: #171717; }
	}
}

.user_pic {
	border: 1px solid $grid;
}

.user_stats {
	border: 1px solid $grid;

	.row {
		border-top: 1px solid $grid;
	}
}

/// _style_forums \\\

table.c1 {
	border: 1px solid $grid;

	td {
		border: 1px solid $grid;
	}

	tr.n1, td.n1 { background-color: #0c0c0c; }
	tr.n2, td.n2 { background-color: #141414; }
	tr.n3, td.n3 { background-color: #2b2b2b; }
}

.threadpost {
	.mainbar {
		td, th, table {
			border: 1px solid $grid;
		}
		.siggy {
			border-top: 1px solid $grid;
		}
	}
}

/// _style_wiki \\\
.wikilinks {
	border-top: 1px solid $grid;
}

.toc {
	border: 1px solid $grid;
	background-color: #171717;
}

.infobox {
	background-color: #141414;
	border: 1px solid $grid;

	table {
		.heading {
			background-color: #0c0c0c;
		}

		tr {
			border-bottom: 1px solid $grid;
		}
	}
}

a.nonexistant {
	color: #e63333;
}

.sizediff-pos { color: #0c0 }
.sizediff-neg { color: #c00 }
.sizediff-net { color: #aaa }

/// Generic form element overrides \\\

textarea, input[type=text], input[type=password], input[type=color], .jscolor {
	background-color: #111;
	border: 1px solid $grid;
	color: white;
	padding: 5px;
}

/// Invert icons \\\

.search, .sdsd {
	filter: invert(1);
}
