// Include normal styling, so only one stylesheet file needs to be loaded.
@import "style";

body {
	background-color: #0F0F0F;
	color: white;
}

a {
	color: #ffff00;
}

.top, .footer {
	background-color: #111;
	border-bottom: 1px solid #444;
	border-top: 1px solid #444;
}

div.menu {
	a {
		color: #ddd;

		&:hover {
			background-color: #000;
		}
	}
}

.header_message, .skit {
	border-bottom: 1px solid #444;
}

div.level {
	background-color: #000;

	.lvlbox_top {
		color: white;
	}

	&:hover {
		background-color: #111;
	}
}

.comments .comment {
	border-bottom: 1px solid #444;

	&:nth-child(odd)  { background-color: #0a0a0a; }
	&:nth-child(even) { background-color: #171717; }

	&.deleted {
		background-color: #861c1c;

		&:after {
			color: #eee;
		}
	}
}

.latest-buttons a {
	background-color: #608060;
	color: #eee;

	&:hover {
		background-color: darken(#608060, 10%);
	}

	&.sel {
		background-color: #636383;

		&:hover {
			background-color: darken(#636383, 10%);
		}
	}
}

.t_user {
	color: #6da0fd;
}

.lvl-box {
	.info {
		background-color: #050505;

		.play {
			background-color: #608060;
			color: #eee;

			&:hover {
				background-color: darken(#608060, 10%);
			}
		}

		.play-edit {
			background-color: #636383;

			&:hover {
				background-color: darken(#636383, 10%);
			}
		}
	}
}

.lvl-data {
	background-color: #000;
}

.dl {
	td {
		border: 1px solid white;
	}
}

.settings {
	td, th {
		border-bottom: 1px solid #444;
	}

	tr {
		&:nth-child(odd)  { background-color: #0a0a0a; }
		&:nth-child(even) { background-color: #171717; }
	}
}

.user_stats {
	border: 1px solid #444;

	.row {
		border-top: 1px solid #444;
	}
}

/// _style_forums \\\

table.c1 {
	border: 1px solid #444;

	td.b {
		border: 1px solid #444;
	}

	tr.n1, td.n1 { background-color: #0a0a0a; }
	tr.n2, td.n2 { background-color: #141414; }
	tr.n3, td.n3 { background-color: #2b2b2b; }
}

.threadpost {
	.mainbar {
		td, th, table {
			border: 1px solid white;
		}
		.siggy {
			border-top: 1px solid white;
		}
	}
}

.top_forum {
	margin-top: -1px;
}

/// _style_wiki \\\
.wikilinks {
	border-top: 1px solid #444;
}

.toc {
	border: 1px solid #444;
	background-color: #171717;
}

.infobox {
	background-color: #141414;
	border: 1px solid #444;

	table {
		.heading {
			background-color: #0c0c0c;
		}

		tr {
			border-bottom: 1px solid #444;
		}
	}
}

/// Generic form element overrides \\\

textarea, input[type=text], input[type=password], input[type=color], .jscolor {
	background-color: #111;
	border: 1px solid #444;
	color: white;
	padding: 5px;
}

/// Invert icons \\\

.search, .sdsd {
	filter: invert(1);
}
