
$grid: #bbb;
$link: #00f;
$link_active: darken($link, 17%);
$bg: #f0f0f0;
$bg_box: #eee;
$bg_box2: #fff;
$btn_play: #9ec59e;
$btn_edit: #a3a3ca;
$btn_text: #202020;
$fonts: "Roboto", "Arial", sans-serif;

body {
	background-color: $bg;
	font-family: $fonts;
	font-size: 11.75pt;
	margin: 0;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	color: $link;
	text-decoration: none;

	&:hover { text-decoration: underline; }
	&:active { color: $link_active; }
}

p {
	line-height: 1.6;
}

ul li, ol li {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

h1 { font-size: 1.75em; }
h2 { font-size: 1.50em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.00em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }

.banner {
	padding: 10px;
	font-weight: bold;

	&.b-red {
		background-color: #9c0d0d;
		color: white;
	}

	&.b-green {
		background-color: #0d9c0d;
		color: white;
	}
}

.top, .footer {
	background-color: $bg_box;
	margin-top: 0px;
	overflow: hidden;
	padding: 10px 8px;
}

.top {
	padding-top: 10px;
	border-bottom: 1px solid $grid;
}

.content {
	flex: 1;
}

.container {
	max-width: 1080px;
	margin: auto;
	padding: 0 7px;
}

.footer {
	text-align: center;
	line-height: 1.5;
	padding-top: 15px;
	padding-bottom: 35px;
	border-top: 1px solid $grid;
}

.picon {
	margin-right: 10px;
	vertical-align: bottom;

	img {
		width: 32px;
		height: 32px;
	}
}

.menucontainer {
	margin: auto;
	max-width: 1280px;
}

div.menu {
	display: inline;
	line-height: 40px;
	text-align: center;
	font-weight: bold;

	a {
		display: inline-block;
		color: #222;
		font-size: 1.1em;
		font-weight: bold;
		text-decoration: none;
		padding: 0px 10px;
		border-radius: 5px;
		margin: 0px 1px;

		&:hover {
			background-color: $bg_box2;
		}
	}

	&.right a, .notifs {
		float: right;
		margin-right: 6px;
	}
	.notifs {
		color: #20aa20;
	}

	img.search {
		vertical-align: middle;
		width: 18px;
		height: 18px;
	}
}

.header a {
	float: right;
}

.header_message {
	border-bottom: 1px solid $grid;
	padding: 15px;
}

.level-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 15px 5px;

	@media screen and (max-width: 1000px) {
		&.scrollable {
			flex-flow: row nowrap;
			justify-content: unset;
			overflow-x: scroll;
			padding-bottom: 15px;
		}
	}
}

div.level {
	background-color: $bg_box2;
	display: inline-block;
	position: relative;
	width: 240px;
	height: 210px;

	border: 1px solid #444;
	border-radius: 4px;

	.lvlbox_top {
		color: black;
		font-size: 13pt;
		text-decoration: none;
		display: block;
		height: 100%;

		span.featured {
			position: absolute;
			top: 4px;
			right: 4px;
			color: #ffffee;
			background-color: rgba(1, 0, 1, 0.5);
		}

		img {
			width: 240px;
			height: 135px;
			border-radius: 3px 3px 0px 0px;
		}

		.lvltitle {
			margin: 0 4px;
			display: block;
		}
	}
	.user {
		position: absolute;
		top: 187px;
		padding: 0 4px;
		font-size: 11.2pt;
	}
	.likes {
		float: right;
		text-align: right;
	}

	&:hover {
		background-color: #eee;
	}
}

.comment-box {
	margin: 20px 5px;

	.comment-input {
		width: 99%;
		padding: 5px;
		min-height: 70px;
	}

	.submit {
		padding-left: 5px;

		em {
			padding-left: 10px;
		}
	}
}

.comments .comment {
	padding: 7px 8px;
	border-bottom: 1px solid $grid;
	overflow-wrap: break-word;
	max-height: 130px;
	overflow: auto;
	line-height: 1.4;

	&:nth-child(odd)  { background-color: #f5f5f5; }
	&:nth-child(even) { background-color: #e8e8e8; }

	&.deleted {
		background-color: #ffcccc;

		&:after {
			content: "(deleted comment)";
			color: #333;
			font-style: italic;
		}
	}

	p {
		margin: 0;
		margin-bottom: 0.1em;
	}
	span.date, span.delete {
		float: right;
		margin-left: 10px;
	}
	span.delete {
		margin-left: 5px;
	}
}



// Buttons for the Latest Levels page \\
.latest-buttons {
	margin-bottom: 15px;
}
.latest-buttons a {
	background-color: $btn_play;
	border: none;
	color: $btn_text;
	display: inline-block;
	font-weight: bold;
	margin-right: 0.5em;
	padding: 10px 20px;

	&:hover {
		background-color: lighten($btn_play, 15%);
		text-decoration: none;
	}

	&.sel {
		background-color: $btn_edit;

		&:hover {
			background-color: lighten($btn_edit, 15%);
		}
	}
}

// Common register and login form styles \\
.reglog {
	text-align: center;

	p {
		margin-bottom: 30px;
	}

	div {
		max-width: 500px;
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 10px auto;
		border-top: 1px solid #444;

		&:last-child {border-bottom:0}
	}

	span {
		width: 200px;
		display: inline-block;
	}
}

.user {
	&, &:hover, &:active {
		text-decoration: none;
	}

	.t_user {
		color: #0000aa;
		font-weight: bold;
	}
}

.lvl-box {
	margin-top: 1em;
	min-height: 280px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;

	.img {
		position: relative;
		width: 48%;
		img {
			width: 100%;
		}

		.revision {
			background-color: rgba(200, 255, 200, 0.5);
			color: #000;
			font-size: 0.8em;
			font-weight: bold;
			padding: 4px;
			position: absolute;
			top: 0%;
			left: 0%;
		}
	}

	.info {
		width: 48%;
		padding: 1em;
		background-color: #fafafa;

		// Play & Edit buttons \\
		.play {
			background-color: $btn_play;
			border: none;
			color: $btn_text;
			display: inline-block;
			font-weight: bold;
			margin-right: 0.5em;
			padding: 10px 20px;

			&:hover {
				background-color: lighten($btn_play, 15%);
				text-decoration: none;
			}
		}

		.play-edit {
			background-color: $btn_edit;

			&:hover {
				background-color: lighten($btn_edit, 15%);
			}
		}

		.likemsg {
			display: inline-block;
			margin-right: 1em;
		}
	}
}

@media screen and (max-width: 800px) {
	.lvl-box {
		flex-flow: row-reverse wrap;
		gap: 10px 0px;

		.img, .info {
			width: 100%;
		}
		.info {
			margin-bottom: 20px;
		}
	}
}

.lvl-data {
	background-color: $bg_box2;
	padding: 0.5em;

	p {
		margin: 0;
		padding: 0.5em 1em;
	}
}

.dl {
	border-collapse: collapse;

	td {
		border: 1px solid $grid;
		padding: 7px;

		&.plat {
			text-align: center;

			img { height: 32px }
		}
	}

	.generic {
		height: 32px;
		width: 32px;
		text-align: center;
		display: inline-block;
		margin-bottom: 5px;
		font-size: 18pt;
		font-weight: bold;
	}

	code {
		font-size: 11pt;
	}
}

// Pagination \\
.pagination {
	margin-top: 1em;
	font-size: 14pt;
	font-weight: bold;

	&:before {
		content: "Pages: ";
	}

	span {
		margin-left: 13px;
		display: inline-block;
	}
}

// Settings \\

.settings, .wiki table {
	border-collapse: collapse;

	.a {
		text-align: center;
		width: 200px;
		height: 35px;
	}

	td, th {
		border-bottom: 1px solid $grid;
		padding: 10px 5px;
	}

	tr th {
		background-color: #fafafa;
		font-size: 12pt;
	}

	tr {
		&:nth-child(odd)  { background-color: #f5f5f5; }
		&:nth-child(even) { background-color: #e8e8e8; }
	}

	.fotnot {
		margin-top: 8px;
		font-size: 10.5pt;
	}
}

.settings {
	width: 100%;
}

// Welcome Thing on Index \\

.skit {
	border-bottom: 1px solid $grid;
	display: block;
	text-align: center;
	font-size: 1.25em;

	video {
		border-radius: 15px;
		max-width: 100%;
		width: 800px;
	}

	a {
		font-weight: bold;
	}
}

/// Generic classes \\\

.left	{ text-align: left; }
.center	{ text-align: center; }
.right	{ text-align: right; }

.clear_right { clear: right; }
.float-right { float: right; }

.noborder { border: 0; }

.text-for-ants { font-size: 8pt; }

.error {
	color: red;
	font-weight: bold;
}


/// User page \\\
.user_about {
	margin-bottom: 1.5em;
}

.user_pic {
	float: right;
	border: 1px solid $grid;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1px;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.user_stats {
	margin-left: 10px;
	border: 1px solid $grid;
	width: 300px;
	float: right;

	.topthing {
		background: #3367aa;
		padding: 7px;
	}

	.row {
		border-top: 1px solid $grid;
		padding: 10px;
		display: block;

		.pad {
			float: right;
		}
	}
}

// sensitive info (censor things like IPs unless hovered)
.sensitive {
	color: #636363;
	background-color: #636363;

	&:hover {
		color: unset;
		background-color: unset;
	}
}

.pronouns {
	font-weight: normal;
	font-size: 14pt;
	margin-left: 5px;
}


/// Two columns that collapse on mobile (for tables) \\\
.two-columns {
	display: block;

	table {
		margin: 15px 0px;
	}

	@media only screen and (min-width: 1024px) {
		display: flex;
		align-items: flex-start;

		table {
			margin: 0px 10px;
		}
	}
}

input[type=text], input[type=password], input[type=email], input[type=color], input[type=file], .jscolor {
	font-size: 11pt;
	font-family: $fonts;
	padding: 7px;
}

input[type=submit] {
	font-size: 12pt;
	border: 1px solid #8f8f9d;
	background-color: #eee;
	padding: 5px 15px;
	vertical-align: top;

	&:hover {
		background-color: darken(#eee, 5%);
	}
	&:active {
		padding-left: 16px;
		padding-right: 14px;
		padding-top: 6px;
		padding-bottom: 4px;
		background-color: darken(#eee, 15%);
	}
}

textarea {
	font-family: "Fira Mono", monospace;
	font-size: 11pt;
	line-height: 1.5;
}

/// Forums \\\
@import "_style_forums";

/// Wiki \\\
@import "_style_wiki";

/// Prism.js styling \\\
@import "_prism";
