<div class="intermission center">
	<a href="/archive/">
		<img src="/assets/archive_banner.webp"
			alt="Browse the community site archive - A full collection of levels uploaded by the community between 2013-2018">
	</a>
</div>
