<div class="buttonbar">
	<a href="https://github.com/Bithack/principia">
		<img src="/icons/github.svg?icon" title="Check out Principia on GitHub" alt="GitHub">
		<span>GitHub</span>
	</a>
	<a href="https://codeberg.org/principia/principia">
		<img src="/icons/codeberg.svg" title="Check out Principia on Codeberg" alt="Codeberg">
		<span>Codeberg</span>
	</a>
	<a href="https://principia-web.se/discord">
		<img src="/icons/discord.svg" title="Join the Principia Discord server" alt="Discord">
		<span>Discord</span>
	</a>
	<a href="https://principia-web.se/fluxer">
		<img src="/icons/fluxer.svg" title="Join the Principia Fluxer community" alt="Fluxer">
		<span>Fluxer</span>
	</a>
	<a href="https://www.youtube.com/@principiagame">
		<img src="/icons/youtube.svg" title="Subscribe to Principia on YouTube" alt="YouTube">
		<span>YouTube</span>
	</a>
	<a rel="me" href="https://hachyderm.io/@Principia">
		<img src="/icons/mastodon.svg" title="Follow Principia on Mastodon" alt="Mastodon">
		<span>Mastodon</span>
	</a>
	<a href="https://sopuli.xyz/c/principia">
		<img src="/icons/lemmy.svg" title="Join the Principia Lemmy community" alt="Lemmy">
		<span>Lemmy</span>
	</a>
</div>