
body {
	background-color: #f0f0f0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 0.9em;
	padding-bottom: 30px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
}

a {
	text-decoration: none;
}

.top, .footer {
	margin-top: 0px;
	background-color: #eee;
	overflow: hidden;
	padding: 10px 8px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.top {
	height: 32px;
	margin-top: 6px;
	border-top-width:0;
}

.footer {
	text-align: center;
}

.picon {
	width: 32px;
	height: 32px;
	float: left;
}

ul.menu {
	display: inline;
	line-height: 32px;
	text-align: center;

	&.right li {
		float: right;
		font-style: italic;
		padding-right: 4px;

		.notifs {
			color: #20aa20;
			font-weight: bold;
		}
	}

	a {
		display: inline-block;
		color: #222;
		font-size: 1.1em;
		font-weight: bold;
		text-decoration: none;
	}
	a.btn:hover {
		background-color:#fff;
	}

	a.download {
		color: #20aa20;
	}

	img.search {
		vertical-align: middle;
	}

	li {
		list-style-type: none;
		float: left;
		overflow: hidden;
		margin-left: 10px;
		margin-right: 10px;
	}


}

.header a {
	float: right;
}

.header_message {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}


div.level {
	display: inline-block;
	position: relative;
	list-style-type: none;
	overflow: hidden;
	width: 230px;
	height: 200px;
	background-color: #fff;
	padding: 2px;
	vertical-align:top;

	border: 1px solid gray;

	a.lvlbox_top {
		color: #000;
		font-size: 14pt;
		text-decoration: none;

		span.featured {
			position: absolute;
			top: 4px;
			right: 4px;
			color: #ffffee;
			background-color: rgba(1,0,1,0.5);
		}

		img {
			width: 230px;
			height: 125px;
		}
	}
	.user {
		position: absolute;
		top: 185px;
		text-decoration: none;
		//uwu
	}
	.likes {
		float: right;
		text-align: right;
	}
}

.comments {
	.comment-entry {
		padding: 8px;
		border-bottom: 1px solid #ccc;
		overflow-wrap: break-word;
		max-height: 130px;
		overflow: auto;

		&:nth-child(odd)  { background-color: #f5f5f5; }
		&:nth-child(even) { background-color: #e8e8e8; }

		&.deleted {
			background-color: #ffcccc;

			&:after {
				content: "(deleted comment)";
				color: #333;
				font-style: italic;
			}
		}

		p {
			margin: 0;
			margin-bottom: .1em;
		}
		span.date, span.delete {
			float: right;
		}
		span.delete {
			margin-left: 5px;
		}
	}
}

.comment-input {
	width: 96%;
	margin: 4px;
	padding-bottom: 4px;
	border: 1px solid #bbb;
	padding: 3px;
	min-height: 40px;
}

// Buttons for the Latest Levels page \\
.latest-buttons a {
	border: 2px outset black;
	border-radius: 8px;
	color: black;
	padding: 5px;
	margin: 2px;
	margin-bottom: 1em;
	display: inline-block;

	&:hover {
		border: 2px inset black;
		background-color: #dddddd;
	}
	&.sel {
		background-color: #ccccff;

		&:hover {
			border: 2px inset black;
			background-color: #bbbbee;
		}
	}
}

// Common register and login form styles \\
form.reglog {
	p {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}
	span {
		display: inline-block;
		width: 120px;
	}
}

.t_user {
	color: #0000aa;
	font-weight: bold;
}

// Play & Edit buttons \\
.play {
	display: inline-block;
	color: #454;
	font-weight: bold;
	margin:0;
	background-color:#ded;
	border: none;
	margin-right: .5em;
	padding: 10px 20px;

	&:hover {
		box-shadow: 0 0px 4px #666;
	}
}

.play-edit {
	background-color: #dde;
}

.likemsg {
	display: inline-block;
	margin-right: 1em;
}

.lvl-box {
	margin-top: 1em;
	position: relative;
	clear: both;
	width: 100%;
	overflow: hidden;
	min-height: 340px;

	.img {
		width: 45%;
		position: absolute;

		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
		max-height: 280px;

		img {
			width: 100%;
		}

		.revision {
			color: #000;
			font-size: .8em;
			font-weight: bold;
			background-color: rgba(200, 255, 200, .5);
			padding:4px;
			position: absolute;
			top: 0%;
			left: 0%;
		}
	}

	.info {
		width: 50%;
		left: 45%;
		float: left;
		margin-left: 1em;
		padding: 1em;
		position: relative;
		background-color:#fafafa;
	}
}

.lvl-data {
	background-color: #fff;

	p {
		margin:0;
		padding:1em;
	}
}

.dl {
	border-collapse: collapse;

	td {
		border: 1px solid black;
		padding: 7px;
	}
}

.noborder {
	border: 0;
}

.center {
	text-align: center;
}

// Pagination \\
.pagination {
	margin-top: 1em;
	font-size: 14pt;

	&:before {
		content: "Pages: ";
	}

	span {
		font-weight: bold;
		margin-right: 5px;

		a {
			color: #0000ff;
		}
	}
}