{% extends "_layout.twig" %}

{% if pmsgs.title %}
	{% set title = pmsgs.title %}
{% else %}
	{% set title = '(untitled)' %}
{% endif %}

	{% block content %}
{{ render_page_bar(pagebar) }}

<h1>{{ pmsgs.title | default('(untitled)') }}</h2>

{{ threadpost(pmsgs) }}
<br>
{{ render_page_bar(pagebar) }}
	{% endblock %}