{% extends "_layout.twig" %}

{% set title = "Home" %}
{% set description = "An archive of the old official Principia community site, containing all levels that were uploaded during the official community site's existance between 2013 and 2018." %}
{% set pagename = "/" %}

	{% block content %}
<div class="landing">
	<h1>Principia Official Community Site Archive</h1>

	<img src="/assets/browse_banner.webp" class="img-responsive" alt="">

	<p>This is an archive of the official community site, containing all levels that was uploaded spanning from the game's release in 2013 to the community site's shutdown in 2018.</p>

	<p>For more information about Principia itself, see the <a href="https://principia-web.se">current Principia website</a>.</p>
</div>

<h2 class="header">Top rated levels <a href="/archive/top">More</a></h2>
<div class="level-list scrollable">
{% for top_level in top_levels %}
	{{ level(top_level) }}
{% endfor %}
</div>

<h2 class="header">Random picks <a href="/archive/random">More</a></h2>
<div class="level-list scrollable">
{% for random_level in random_levels %}
	{{ level(random_level) }}
{% endfor %}
</div>

<h2 class="header">Custom levels <a href="/archive/latest/custom">More</a></h2>
<div class="level-list scrollable">
{% for custom_level in custom_levels %}
	{{ level(custom_level) }}
{% endfor %}
</div>

<h2 class="header">Adventure levels <a href="/archive/latest/adventure">More</a></h2>
<div class="level-list scrollable">
{% for adventure_level in adventure_levels %}
	{{ level(adventure_level) }}
{% endfor %}
</div>

<br>
	{% endblock %}