{% extends "_layout.twig" %}

{% set title = "Report" %}
{% set noindex = true %}

	{% block content %}
<h1>Report</h1>

{% if has_been_sent %}
	<p>Your report has been sent!</p>
{% else %}

<p>Please use this form to report any issues that you have found in the archive. The previous URL you just visited will be included with the report. Some things you can report would be, but not limited to:</p>

<ul>
	<li>Report mojibake or any kind of text encoding issue</li>
	<li>Report hateful content that should be omitted from the archive</li>
	<li>Report inaccurate data compared to the old archive site</li>
	<li>Make privacy complaints - request sensitive data to be deindexed or omitted from the archive</li>
</ul>

<form action="/report" method="POST">
	<p>URL: <input type="text" name="url" placeholder="URL" value="{{ url }}" readonly style="width:320px"></p>
	<p><textarea name="message" placeholder="Report text" cols="80" rows="15"></textarea></p>
	<p><input type="submit" value="Submit"></input></p>
</form>

{% endif %}
	{% endblock %}