{% extends "_layout.twig" %}

{% set title = "User list" %}

	{% block content %}
<h1>User list</h1>
<table class="settings">
	<tr>
		<th style="width:50px">ID</th>
		<th>Username</th>
		<th style="width:80px">Levels</th>
	</tr>
	{% for user in users %}
	<tr>
		<td>{{ user.id }}</td>
		<td>{{ userlink(user) }}</td>
		<td class="right">{{ user.levels }}</td>
	</tr>
	{% endfor %}
</table><br>
	{% endblock %}