<nav>
	<div class="menu">
		<a class="picon" href="/">
			<img src="/assets/icon.webp" alt="Home">
		</a>
		<a href="/news">News</a>
		<a href="/levels">Levels</a>
		<a href="/download" class="download">Download</a>
		<a href="/contests">Contests</a>
		<a href="/videos">Videos</a>
		<a href="/chat">Chat</a>
		<a href="/forum/">Forum</a>
		<a href="/wiki/">Wiki</a>
		<a href="/search">{{ icon("search") }}</a>
		<div class="nav-right">
			{% if log %}
				{% if userdata.rank > 1 %}
					<a href="/admin">{{ icon("shield") }}</a>
				{% endif %}
				{{ userlink(userdata, '', false) }}
				{% if userdata.notifications %}
					<span class="notifs">[{{ userdata.notifications }}]</span>
				{% endif %}
			{% else %}
				<a href="/login">Log in</a>
			{% endif %}
		</div>
	</div>
</nav>
{% if submodule == 'forum' %}
	<nav class="nav-forum">
		<div class="menu">
			<a href="/forum/">Forum</a>
			<a href="/forum/activeusers">Active users</a>
			<a href="/forum/forum?time=86400">Latest posts</a>
			{% if log %}
				<a href="/forum/private">Private messages</a>
			{% endif %}
		</div>
	</nav>
{% endif %}
