{% if submodule == 'wiki' %}
<div class="wikilinks">
	<div><a href="/wiki/">Main Page</a> &ndash; <a href="/wiki/Special:PageIndex">Page Index</a></div>

	{% if pagetitle_slugified %}
		<div class="right">
			<a href="https://github.com/principia-game/wiki/blob/master/pages/{{ pagetitle_slugified | replace({'/':'Ä'}) }}.md">View on GitHub</a>
			&ndash; <a href="https://github.com/principia-game/wiki/edit/master/pages/{{ pagetitle_slugified | replace({'/':'Ä'}) }}.md">Edit</a>
		</div>
	{% endif %}
</div>
{% endif %}