
/// Downloads page \\\

.dl {
	border-collapse: collapse;

	td {
		border: 1px solid $grid;
		padding: 7px;

		&.plat {
			text-align: center;
			width: 64px;
			padding: 4px;
			font-size: 11pt;

			img { height: 32px }
			svg { width: 32px; height: 32px; padding-bottom: 3px }
		}
	}

	.generic {
		height: 32px;
		width: 32px;
		text-align: center;
		display: inline-block;
		margin-bottom: 5px;
		font-size: 18pt;
		font-weight: bold;
	}

	code {
		font-size: 11pt;
	}
}
