
.form {
	margin: 20px 0;

	label {
		width: 120px;
		display: inline-block;
		font-weight: bold;
	}

	.input-group {
		margin-bottom: 15px;
		display: flex;
		align-items: center;

		input[type=text], input[type=password], input[type=email], textarea {
			flex: 1 1 auto;
		}
	}
}

/// Common register and login form styles \\\

.reglog {
	text-align: center;

	p {
		margin-bottom: 30px;
	}

	div {
		max-width: 500px;
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 10px auto;
		border-top: 1px solid #444;

		&:last-child {border-bottom:0}
	}

	span {
		width: 200px;
		display: inline-block;
	}
}


/// Form elements \\\

textarea, input[type=text], input[type=password], input[type=email], input[type=color], input[type=file], .jscolor {
	border: 1px solid $grid;
	background-color: $input_bg;
	color: $text;
	font-size: 11pt;
	font-family: inherit;
	padding: 7px;
}

input[type=submit], button.btn, a.btn, select {
	font-size: 12pt;
	border: 1px solid $btn_border;
	background-color: $btn_bg;
	color: $text;
	padding: 5px 15px;

	&:hover {
		background-color: darken($btn_bg, 5%);
		text-decoration: none;
	}
	&:active {
		background-color: darken($btn_bg, 15%);
	}
}

input[type=submit], button.btn, a.btn {
	vertical-align: top;
}

textarea {
	line-height: 1.5;
	outline: none;
	box-sizing: border-box;
}

// For image to lua

textarea.code {
	width: 100%;
	height: 250px;
	box-sizing: border-box;
}

textarea.code.wide {
	width: 85%;
	height: 60px;
}
