
/// Userlinks \\\

.user {
	font-weight: bold;

	&, &:hover, &:active {
		text-decoration: none;
	}

	.t_user {
		color: $t_user;
	}
}

/// Stuff for the user page \\\

.user_header {
	display: flex;
	gap: 0.85rem;
	align-items: flex-start;

	.user_pic {
		border: 1px solid $grid;
		width: 120px;
		aspect-ratio: 1 / 1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 5px;

		@media (max-width: 540px) {
			width: 80px;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	.user_meta {
		flex: 1 1 auto;

		h1 {
			margin: 0.5em 0 0.5em 0;
		}

		.meta_row {
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;
			margin-bottom: 1rem;
		}
	}
}

// sensitive info (censor things like IPs unless hovered)
.sensitive {
	color: #636363;
	background-color: #636363;

	&:hover {
		color: unset;
		background-color: unset;
	}
}

.pronouns {
	font-weight: normal;
	font-size: 14pt;
	margin-left: 5px;
}
