
/// Web game frame \\\

.game-wrapper {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: unquote("min(1280px, 100vw)");
	aspect-ratio: 16 / 9;
	max-height: 100vh;
	margin: 75px 0;

	iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.video-frame {
	width: 1080px;
	aspect-ratio: 16 / 9;
	margin: auto;

	iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.beta {
	color: gold;
	font-weight: bold;
}

