<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'includes/layout/head.twig' %}
</head>
<body>
	{{ custom_header() | raw }}
	{% if constant('DEBUG') %}
		<div class="banner" style="background:repeating-linear-gradient(45deg,#111,#111 10px,#aa0 10px,#aa0 20px)"></div>
	{% endif %}
	{% if constant('IS_ARCHIVE') %}
		<div class="banner center">
			<a href="https://principia-web.se">&lt; Go back to main community site</a>
		</div>
	{% endif %}
	<header>
		{% include 'includes/layout/header.twig' %}
	</header>
	<div class="content
		{%- if submodule == 'forum' %} forum{% endif %}
		{%- if submodule == 'wiki' %} wiki{% endif %}">

		<div class="container">
			{% block content %}{% endblock %}
			{% include 'includes/layout/wikilinks.twig' %}
		</div>
	</div>
	<div class="donate-nag">
		<a href="https://principia-web.se/donate">
			<img src="/assets/donate-nag.webp" alt="Donate now! Cover server costs & support Principia">
		</a>
	</div>
	<footer>
		{% include 'includes/layout/footer.twig' %}
	</footer>
</body>
</html>
