<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Principia - {% block title %}Home{% endblock %}</title>
		<base href="{{ basepath }}">
		<link rel="stylesheet" href="assets/css/style.css" type="text/css">
		{% if userdata.darkmode and not is_android_webview() %}<link rel="stylesheet" href="assets/css/darkmodehack.css" type="text/css">{% endif %}
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body {% if is_android_webview() %}style="zoom:0.6"{% endif %}>
		<div class="top">
			<a href="./"><img class="picon" src="assets/icon.png"/></a>
			<ul class="menu left">
				<li><a href="popular.php" class="btn">Popular</a></li>
				<li><a href="top.php" class="btn">Top</a></li>
				<li><a href="latest.php" class="btn">New</a></li>
				<li><a href="chat.php" class="btn">Chat</a></li>
				{% if glob_forum %}<li><a href="forum/" class="btn">Forum</a></li>{% endif %}
				<li><a href="contests.php" class="btn">Contests</a></li>
				<li><a href="download.php" class="btn download">Download</a></li>
				<li><a href="search.php" class="btn"><img src="assets/icons/search.svg" class="search"></a></li>
			</ul>
			<ul class="menu right">
				<li><em>
					{% if log %}
						{{ userlink(userdata) }}
						{% if notification_count > 0 %}
							<span class="notifs">[{{ notification_count }}]</span>
						{% endif %}
					{% else %}
						<a href="login.php">Login</a>
					{% endif %}
				</em></li>
			</ul>
		</div>
		<div class="home content">{% block content %}{% endblock %}</div>
		<div class="footer">
			<a href="about">About</a>
			{# - <?php printf("%dKB used @ %1.3f secs", memory_get_usage(false) / 1024, microtime(true) - $start) ?><br> #}
			{{ custom_info() }}
		</div>
		<script type="text/javascript" src="assets/base.js"></script>
	</body>
</html>