{% extends "_layout.twig" %}

{% if unban %}
	{% set action = "unban" %}
	{% set title = "Unban User" %}
{% else %}
	{% set action = "ban" %}
	{% set title = "Ban User" %}
{% endif %}

	{% block content %}
<h1 class="center">{{ action | title }} User</h1>

<p class="center">You are going to be {{ action }}ning {{ userlink(banuserdata) }}.</p><br>

<form class="reglog" method="POST" action="/_ban_user?id={{ banuserdata.id }}">
	{% if action == "ban" %}
		<div>
			<span>Reason:</span>
			<input type="text" name="reason" placeholder="Specify a reason (Optional)" size="30">
		</div>
		<div><input type="submit" name="action" value="Ban User"></div>
	{% else %}
		<p><input type="submit" name="action" value="Unban User"></p>
	{% endif %}
</form>
	{% endblock %}