{% extends "_layout.twig" %}

{% set title = "Chat" %}
{% set description = "Welcome to the principia-web chat, for short conversations mostly about Principia." %}

	{% block content %}
<h1>Chat</h1>

<p>The principia-web chat was a relatively slow-running comments section where you could talk about general Principia things, inspired by the chat found on the official community site. It has now been closed due to inactivity and there being better chat platforms to talk on about Principia.</p>

<p>For more active community chat spaces, see the <a href="https://principia-web.se/discord">Principia Discord server</a> and the <a href="https://principia-web.se/matrix">Principia Matrix space</a>. In addition please also see the <a href="/forum/">forums</a>, for more long-form discussions.</p>
	{% endblock %}