{% extends "_layout.twig" %}

{% set title = "Classic Puzzles" %}
{% set description = "The Principia classic puzzle package is a collection of 31 puzzle levels that come with the game." %}

	{% block content %}
<img src="/assets/classic_puzzle.webp" style="float: right;max-width: 35%;">

<h1>The Principia Classic Puzzle Package</h1>

<p>The classic puzzle package is a collection of 31 puzzle levels that come with the game.</p>

<p>The objective of the levels is simple. Get a robot to the goal, or guide a set or robots to an exit to win the level. The means to do so varies between levels and you will be constructing bridges, mechanical contraptions and wire electronics to design the ultimate solution.</p>

<p>The first levels start out easy, giving you a grasp of the mechanics of the game. Later levels will require you to construct much more elaborate solutions using all the game has to offer to solve the level. Will you manage to complete them all?</p>

<p>Good luck!</p>

<a class="play-btn green" href="principia://play/pkg/main/7">Open the classic puzzle package</a>

<h2>Want more puzzles?</h2>

<p>If you have completed all 31 levels, and are looking for some more interesting puzzle levels, look no further than the <a href="/latest/puzzle">latest puzzles section</a> on the community site for new puzzles created by other players in the sandbox.</p>
	{% endblock %}