{% extends "_layout.twig" %}

{% set title = "Contests" %}

	{% block content %}
<h1 class="header">Latest Contests</h1>
<ul>
	{% for contest in contests %}
		<li><a href="/contest/{{ contest.id }}">{{ contest.title }}</li>
	{% else %}
		<li>No contests.</li>
	{% endfor %}
<ul>
	{% endblock %}