{% extends "_layout.twig" %}

{% set title = "Downloads" %}
{% set description = "Download the latest version of open source Principia here, on principia-web." %}

	{% block content %}
<h1>Downloads</h1>

<p>Below are downloads for beta versions of the new open source Principia 1.5.2.</p>

<table class="dl"><tr>
	<td class="plat"><img src="/assets/icons/windows.svg"><br>Windows</td>
	<td colspan="2">
		<p><a href="https://grejer.voxelmanip.se/principia/principia_1.5.2_beta_2023-03-10.exe">Download Principia 1.5.2 Beta for Windows x64 (built 2023-03-10)</a></p>

		<p>Administrator privileges are required to run the installer.</p>
	</td>
</tr><tr>
	<td class="plat" rowspan="5"><img src="/assets/icons/linux.svg"><br>Linux</td>
</tr><tr>
	<td class="plat"><img src="/assets/icons/arch.svg"><br>Arch Linux
	<td>
		<p>On Arch Linux-based distributions you can use the <a href="https://aur.archlinux.org/packages/principia-git">principia-git</a> package from the AUR which tracks the latest master. Use your favourite AUR helper, like such:</p>

		<p><code>yay -S principia-git</code></p>

		<p>A custom binary repository is also available, being updated every now and then. To add:</p>

		<p><code>echo -e '\n[principia]\nSigLevel = Optional DatabaseOptional\nServer = https://grejer.voxelmanip.se/principia/arch-repo/$arch' | sudo tee -a /etc/pacman.conf</code></p>
	</td>
</tr><tr>
	<td class="plat"><img src="/assets/icons/debian.svg"><br>Debian
	<td>
		<p>For Debian-based distributions, we have an MPR package tracking the latest master.</p>

		<p>Install <a href="https://www.makedeb.org/">makedeb</a> (if you do not already have it), and make the <a href="https://mpr.makedeb.org/packages/principia-git">principia-git</a> MPR package like such:</p>

		<p><code>git clone https://mpr.makedeb.org/principia-git<br>
cd principia-git/<br>
makedeb -si</code></p>
	</td>
</tr><tr>
	<td class="plat"><img src="/assets/icons/nix.svg"><br>NixOS
	<td>
		<p>Principia <a href="https://search.nixos.org/packages?channel=unstable&show=principia&type=packages&query=principia">is available in nixpkgs</a>.</p>

		<p>The Principia source repository also contains files to automatically build and package Principia on NixOS.</p>

		<p>See the <a href="https://github.com/Bithack/principia/tree/master/nix#readme">NixOS README</a> for more information.</p>
	</td>
</tr><tr>
	<td class="plat"><div class="generic">?</div> <br>Other</td>
	<td>
		<p>Please clone the source repository and build from source:</p>

		<p><code>git clone --depth 1 https://github.com/Bithack/principia</code></p>

		<p>Compilation instructions can be found in the included <a href="https://github.com/Bithack/principia/#building-on-linux">README</a> file.
	</td>
</tr><tr>
	<td class="plat"><img src="/assets/icons/android.svg"><br>Android</td>
	<td colspan="2">
		<p><a href="https://grejer.voxelmanip.se/principia/principia_1.5.2_beta_2023-03-10.apk">Download Principia 1.5.2 Beta for Android (Android 4.4+) (built 2023-03-10)</a></p>

		<p><strong>IMPORTANT WHEN UPDATING</strong>: Principia 1.5.2 now stores its user data in scoped app storage as compared to in the shared storage. If you have existing levels and data saved locally you will need to manually migrate it to the new location. (See <a href="/wiki/Accessing_Android_Data_Directory">Accessing Android Data Directory</a> for how to access)</p>
	</td>
</tr></table>

<p>Problems, crashes or bugs? Ask in the Discord server or <a href="https://github.com/Bithack/principia/issues/new">open an issue on Github</a>.</p>

<p>If you fancy something else, see the <a href="https://docs.google.com/spreadsheets/d/1G2YX0BV9_FSrIOvbCQtgYLE1XirCr8UaAfXUzuxjefE/htmlview" target="_blank">Bithack Game Archive Index</a>.</p>
	{% endblock %}
