{% extends "_layout.twig" %}

{% set title = "Downloads" %}

	{% block content %}
<h2>Downloads</h2>

<p>For uploading and playing levels you will need to download and install a mod to make the game connect to principia-web.</p>

<table class="dl">
	<tr>
		<td class="center"><img src="/assets/icons/windows.svg" height=32> <br>Windows</td>
		<td>
			<p>(If you don't already have 1.5.1, you can download it <a href="https://grejer.voxelmanip.se/principia/principia_1.5.1.exe">here</a> (<a href="https://archive.org/download/principia-windows-installer-151/principia-x86.exe">archive.org mirror</a>).)</p>

			<p><a href="https://grejer.voxelmanip.se/principia/principia-web_curl_mod_r3.zip">Download the cURL mod for 1.5.1.</a></p>

			<p>This patches the game's cURL library to redirect connections to principia-web. For installing, please see the included README file.</p>
		</td>
	</tr>
	<tr>
		<td class="center"><img src="/assets/icons/android.svg" height=32> <br>Android</td>
		<td>
			<p><a href="https://grejer.voxelmanip.se/principia/principia_1.5.1_principia-web_mod_v1.apk">Download the principia-web mod for Android.</a> (<a href="https://archive.org/download/principia-mods/commod_r1_ozxa.apk">archive.org mirror</a>)</p>

			<p><strong>Since this APK is signed using a different key from the original APK, you will need to uninstall the original one. You shouldn't lose any game data, but make a backup just in case.</strong></p>

			<p>This modded APK not only renames strings to point to principia-web, but also removes Facebook analytics and fixes the SFX Emitter bug.</p>
		</td>
	</tr>
</table>

<p>Psst, are you running Linux? Check out the <a href="/forum/thread.php?id=7">Principia 1.5.2 Development Linux Packages</a> forum thread.</p>

<p><strong>Full downloads to Principia are provided due to there no longer being any way of officially obtaining it. You are expected to have bought the game previously to be able to download it from here. We do in no way condone piracy, and ask you to please give Bithack the full financial support they deserve in any future endeavours.</strong></p>

<p>If you fancy something else, see the <a href="https://docs.google.com/spreadsheets/d/1G2YX0BV9_FSrIOvbCQtgYLE1XirCr8UaAfXUzuxjefE/htmlview" target="_blank">Bithack Game Archive Index</a>.</p>
	{% endblock %}