{% extends "_layout.twig" %}

{% set title = "Downloads" %}
{% set description = "Download the latest version of open source Principia here, on principia-web." %}

	{% block content %}
<h1>Downloads</h1>

<p>Below are downloads for beta versions of the new open source Principia 1.5.2.</p>

<table class="dl"><tr>
	<td class="plat"><img src="/assets/icons/windows.svg"><br>Windows</td>
	<td>
		<p><a href="https://grejer.voxelmanip.se/principia/principia_1.5.2_beta_2022-11-20.exe">Download Principia 1.5.2 Beta for Windows x64 (built 2022-11-20)</a></p>

		<p>Administrator privileges are required to run the installer.</p>
	</td>
</tr><tr>
	<td class="plat"><img src="/assets/icons/linux.svg"><br>Linux</td>
	<td>
		<p>If you're on Arch Linux you can use the <a href="https://aur.archlinux.org/packages/principia-git">principia-git</a> package from the AUR.</p>

		<p>Otherwise, please clone the source repository and build from source:</p>

		<p><code>git clone --depth 1 https://github.com/Bithack/principia</code></p>

		<p>Compilation instructions can be found in the included <a href="https://github.com/Bithack/principia/#building-on-linux">README</a> file.
	</td>
</tr><tr>
	<td class="plat"><img src="/assets/icons/android.svg"><br>Android</td>
	<td>
		<p>1.5.2 beta builds coming soon...</p>

		<p><small>For the time being, you can download the old <a href="https://grejer.voxelmanip.se/principia/principia_1.5.1_principia-web_mod_v1.apk">1.5.1 principia-web mod for Android</a>.</small></p>
		{#<p><a href="TODO">Download Principia 1.5.2 Beta for Android (Android 4.0+) (built 2022-10-29)</a></p>

		<p>Principia 1.5.2 now stores its user data in scoped app storage as compared to in the shared storage. If you have existing levels and data saved locally you will need to manually migrate it to the new location. (See <a href="/wiki/Accessing_Android_Data_Directory">Accessing Android Data Directory</a>)</p>#}

	</td>
</tr></table>

<p>Problems, crashes or bugs? Ask in the Discord server or <a href="https://github.com/Bithack/principia/issues/new">open an issue on Github</a>.</p>

<p>If you fancy something else, see the <a href="https://docs.google.com/spreadsheets/d/1G2YX0BV9_FSrIOvbCQtgYLE1XirCr8UaAfXUzuxjefE/htmlview" target="_blank">Bithack Game Archive Index</a>.</p>
	{% endblock %}