{% extends "_layout.twig" %}

{% if page == 1 %}
	{% set title = "Latest levels" %}
{% else %}
	{% set title = "Latest levels (Page " ~ page ~ ")" %}
{% endif %}
{% set description = "View the latest levels uploaded to principia-web." %}
{% if type != 'all' %}
	{% set pagename = '/latest/' ~ type %}
{% endif %}

	{% block content %}
<h2>Latest levels {% if page != 1 %}(Page {{ page }}){% endif %}</h2>
<div class="latest-buttons">
	<a {% if type == 'custom' %}class="sel"{% endif %} href="/latest/custom">Custom</a>
	<a {% if type == 'adventure' %}class="sel"{% endif %} href="/latest/adventure">Adventure</a>
	<a {% if type == 'puzzle' %}class="sel"{% endif %} href="/latest/puzzle">Puzzle</a>
	<a {% if type == 'all' %}class="sel"{% endif %} href="/latest">All</a>
</div>

{% for level in levels %}
	{{ level(level) }}
{% else %}
	There are no {% if type != 'all' %}{{ type }}{% endif %} levels. You could create one!
{% endfor %}

{% if type == 'all' %}
	{% set le_url = '/latest?page=%s' %}
{% else %}
	{% set le_url = '/latest/' ~ type ~ '?page=%s' %}
{% endif %}
{{ pagination(level_count, glob_lpp, le_url, page) }}

<br><br>
	{% endblock %}