{% extends "_layout.twig" %}

{% set title = "Principia Community Level Archive" %}
{% set description = "All currently archived levels from the official Principia community site available to be played on principia-web. (Login required)" %}

	{% block content %}
<h2>Principia Community Level Archive</h2>

<p>The Principia Community Level Archive has been superseded by the <a href="http://archive.principiagame.com">Community Site Archive</a>. To play levels from there, you need a recent version of the open source Principia.</p>

<p>For historical purposes, the Principia Community Level Archive can still be downloaded <a href="https://archive.org/details/principia-community-level-archive">here</a>, but keep in mind it lacks levels and metadata.</p>
	{% endblock %}
