{% extends "_layout.twig" %}

{% block title %}Principia Community Level Archive{% endblock %}

	{% block content %}
<h2>Principia Community Level Archive</h2>

<p>The Principia Community Level Archive is a project to compile a near-complete collection of the levels that used to be on the official community site.</p>

<p>If you'd like to download the entire archive yourself and keep it locally, a full download of the community level archive can be found <a href="https://archive.org/details/principia-community-level-archive">here</a>.</p>

<p>To search through the list of levels, use your browser's built-in search function (Ctrl+F or 'Find in page').</p>

{{ llcache | raw }}

{#
<ul class="cummunity-levelz">
	{% for level in levels %}
		<li>
			<span class="title">{{ level.title }}</span> <a class="play" href="principia://play/lvl/db/{{ level.id + 1000000000 }}">Play</a>
		</li>
	{% else %}
		There are no levels. Something broke, probably.
	{% endfor %}
</ul>
#}
	{% endblock %}
