{% extends "_layout.twig" %}

{% set title = "Packages" %}

	{% block content %}
<h1>Packages</h1>

<div class="level-list">
{% for package in packages %}
	{{ level(package, '', true) }}
{% else %}
	No packages.
{% endfor %}
</div>

{{ pagination(package_count, glob_lpp, 'packages.php?page=%s', page) }}

<br><br>
	{% endblock %}