{% extends "_layout.twig" %}

{% set title = "Login" %}
{% set description = "Log in to principia-web." %}

	{% block content %}
{% if error %}
	<div class="header_message">{{ error }}</div>
{% endif %}

<h1 class="center">Login</h1>

<form class="reglog" method="POST">
	<p>Login to your existing principia-web account.
		<strong style="margin-top:10px;display:block">(Note: Your old Bithack account will not work.)</strong></p>

	<div>
		<span>Username:</span>
		<input type="text" name="name" size="25" maxlength="25" value="{{ name }}" required>
	</div>
	<div>
		<span>Password:</span>
		<input type="password" name="pass" size="25" maxlength="64" required>
	</div>

	<div>
		<a href="/register" style="font-size:14pt">Don't have an account yet? Register!</a>
	</div>

	<div><br><input type="submit" name="action" value="Login"></div>
</form>
	{% endblock %}