{% extends "_layout.twig" %}

{% set title = "Packages" %}

	{% block content %}
<h2>Packages</h2>

{% for package in packages %}
	{{ level(package, '', true) }}
{% else %}
	No packages.
{% endfor %}

{{ pagination(package_count, glob_lpp, 'packages.php?page=%s', page) }}

<br><br>
	{% endblock %}