{% extends "_layout.twig" %}

{% set title = "Most popular levels" %}
{% set description = "View the most popular levels on principia-web." %}

	{% block content %}
<h1>Most popular levels</h1>
<p><em>These are the top {{ glob_lpp }} most popular levels of all time.</em></p>

<div class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% else %}
	There are no levels. You could create one!
{% endfor %}
</div>

<br><br>
	{% endblock %}