{% extends "_layout.twig" %}

{% set title = "Most popular levels" %}
{% set description = "View the most popular levels on principia-web." %}

	{% block content %}
<h2>Most popular levels</h2>
<p><em>These are the top{% if levels|length >= glob_lpp %} {{ glob_lpp }}{% endif %} most popular levels of all time.</em></p>

{% for level in levels %}
	{{ level(level) }}
{% else %}
	There are no levels. You could create one!
{% endfor %}

<br><br>
	{% endblock %}