{% extends "_layout.twig" %}

{% set title = "Most popular levels" %}
{% set description = "View the most popular levels of all time." %}

	{% block content %}
<h1>Most popular levels {% if page != 1 %}(Page {{ page }}){% endif %}</h1>

<p><em>These {% if constant('IS_ARCHIVE') %}were{% else %}are{% endif %} the most popular levels of all time, with the most downloads total.</em></p>

{{ blarg('popular', 'Go to the non-archive popular levels page', 'Go to the archive popular levels page') }}

<div class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% else %}
	There are no levels. You could create one!
{% endfor %}
</div>

{{ pagination(level_count, glob_lpp, archive_prefix() ~ "/popular?page=%s", page) }}

<br><br>
	{% endblock %}