{% extends "_layout.twig" %}

{% set title = "Report" %}
{% set noindex = true %}

	{% block content %}
<h1>Report</h1>

{% if log %}
	{% if has_been_sent %}
		<p>
			Your report has been sent!
			<a href="{{ url }}">Go back to the previous page</a>.
		</p>
	{% else %}
		<p>
			Please use this form to send a report that will be seen by staff members.
			The previous URL you just visited will be included with the report.
		</p>

		<p>
			Your user ID will be included with the report.
			It is only visible to {{ userlink(admin, 'u_') }}
			and is used to reach out for clarification if necessary.
		</p>

		<form method="POST">
			<p>
				URL:
				<input type="text" name="url" placeholder="URL" value="{{ url }}" readonly style="width:320px">
			</p>
			<p>
				<textarea name="message" placeholder="Report text" cols="80" rows="10" required></textarea>
			</p>
			<p>
				<input type="submit" value="Submit">
			</p>
		</form>
	{% endif %}
{% else %}
	<p>
		Due to spam, we do not accept reports from users who are not logged in.
	</p>

	<p>
		Please <a href="/login">log in</a>, or send your report by email to
		<a href="mailto:abuse@principia-web.se">abuse@principia-web.se</a>
		if you do not wish to make an account.
	</p>
{% endif %}
	{% endblock %}