{% extends "_layout.twig" %}

{% set title = "Reset Password" %}
{% set noindex = true %}

	{% block content %}
<h1 class="center">Reset Password</h1>

<form class="reglog" method="POST">
	<p>Hello {{ resetdata.name }}. Please choose a new secure password, and be sure to remember it!</p>

	<div>
		<span>New Password:</span>
		<input type="password" name="pass" size="25" maxlength="64" required>
	</div>
	<div>
		<span>Repeat New Password:</span>
		<input type="password" name="pass2" size="25" maxlength="64" required>
	</div>

	<div><input type="submit" name="action" value="Submit"></div>
</form>
	{% endblock %}