{% extends "_layout.twig" %}

{% block title %}Reset Password{% endblock %}

	{% block content %}
<h2>Reset Password</h2>

<p>Hello {{ resetdata.name }}. Please choose a new secure password, and be sure to remember it!</p>

<form class="reglog" method="POST">
	<p>
		<span>New Password:</span>
		<input type="password" name="pass" size="25" maxlength="32">
	</p>
	<p>
		<span>Repeat New Password:</span>
		<input type="password" name="pass2" size="25" maxlength="32">
	</p>

	<p><input type="submit" class="submit" name="action" value="Submit"></p>
</form>
	{% endblock %}