{% extends "_layout.twig" %}

{% set title = "Search" %}
{% set description = "Search through all levels available on principia-web." %}
{% set noindex = true %}

	{% block content %}
<h1>Search</h1>
<form>
	<input type="text" name="query" value="{{ query }}">
	{#{% if page != 1 %}
		<input type="hidden" name="page" value="{{ page }}">
	{% endif %}#}
	<input type="submit" value="Search">
</form><br>

{% if query %}
	<div class="level-list">
	{% for level in levels %}
		{{ level(level) }}
	{% else %}
		Search returned no results.
	{% endfor %}
	</div>

	{% set le_url = 'search?query=' ~ query ~ '&page=%s' %}
	{{ pagination(level_count, glob_lpp, le_url, page) }}
	<br><br>
{% endif %}

	{% endblock %}