{% extends "_layout.twig" %}

{% set title = "Top rated levels" %}
{% set description = "View the most liked levels of all time." %}

	{% block content %}
<h1>Top rated levels {% if page != 1 %}(Page {{ page }}){% endif %}</h1>

<p><em>These {% if constant('IS_ARCHIVE') %}were{% else %}are{% endif %} the top rated levels of all time, which the most likes in total.</em></p>

{{ blarg('top', 'Go to the non-archive top levels page', 'Go to the archive top levels page') }}

<div class="level-list">
{% for level in levels %}
	{{ level(level) }}
{% else %}
	There are no levels. You could create one!
{% endfor %}
</div>

{{ pagination(level_count, glob_lpp, archive_prefix() ~ "/top?page=%s", page) }}

<br><br>
	{% endblock %}