{% extends "_layout.twig" %}

{% block title %}{{ name }}{% endblock %}

	{% block content %}
<h2>{{ name }}</h2>

{% if userdata.id == id and not forceuser %}
<p>Welcome to your personal user page. Here, you can see and manage your uploaded levels, customize your profile, and edit your settings.</p>

<p><a href="javascript:document.logout.submit()">Log out</a></p>

<form action="login.php" method="post" name="logout">
	<input type="hidden" name="logout" value="yes">
</form>
{% endif %}

{% for level in levels %}
	{{ level(level) }}
{% else %}
	This user doesn't have any uploaded levels.
{% endfor %}

<br><br>
	{% endblock %}