{% extends "_layout.twig" %}

{% set title = "User list" %}

	{% block content %}
<h1>User list</h1>
<table class="settings">
	<tr>
		<th style="width:50px">ID</th>
		<th>Username</th>
		<th style="width:180px">Registered on</th>
		<th style="width:80px">Levels</th>
	</tr>
	{% for user in users %}
	<tr>
		<td>{{ user.id }}</td>
		<td>{{ userlink(user) }}
			{% if user.rank > 1 %}<img src="/icons/shield{% if userdata.darkmode %}_w{%endif%}.svg" height="16">{% endif %}
			{% if user.rank > 3 %}<img src="/icons/root{% if userdata.darkmode %}_w{%endif%}.svg" height="16">{% endif %}</td>
		<td class="center">{{ user.joined | date('Y-m-d H:i') }}</td>
		<td class="center">{{ levelcounts[user.id] }}</td>
	</tr>
	{% endfor %}
</table>
	{% endblock %}