<div class="infobox">
	<table>
		<tr>
			<td class="heading" colspan="2">Bithack AB</td>
		</tr>
		<tr>
			<td colspan="2">
				<img src="/wiki/images/bithack.webp" style="width:240px" alt="Light version of Bithack logo - 'bithack' written in a pixel font">
			</td>
		</tr>
		<tr>
			<th style="width:50%">Founded</th>
			<td>2010</td>
		</tr>
	</table>
</div>
